body {
  font-family: 'Raleway', sans-serif;
  margin: 60px auto;
  max-width: 600px;
  /*background: #232323;*/
  background: #EBE6E6;
}

h1 {
  font-size: 26px;
  font-family: 'Work Sans', sans-serif;
}

h2 {
  font-family: 'Work Sans', sans-serif;
      font-size: 14px;
}
.article-post-content{

}

