header {
      text-align: center;
      background-size: 1800px 250px;
    }
    body{
      background-color: #EBE6E6;
    }
    h1 {
      font-size: 80px;
      padding: 0px 0px 0px 0px;
      font-family: 'Work Sans', sans-serif;
      font-weight: lighter;
    }
    h2{
      font-size: 22px;
      font-family: 'Work Sans', sans-serif;
    }
    h3 {
      font-family: 'Work Sans', sans-serif;
      font-size: 30px;
      padding-left: 10px;
    }
    h4{
      font-family: 'Work Sans', sans-serif;
      font-size: 14px;
    }
    h5{
      font-family: 'Work Sans', sans-serif;
      font-size: 22px;      
      font-weight: lighter;
    }
    ul {
      padding: 10px;
      /*background: rgba(0,0,0,0.5);*/
      font-family: 'Raleway', sans-serif;
      font-weight: lighter;

    }

    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    p {
      font-family: 'Raleway', sans-serif;
      font-weight: lighter;
      font-size: 14px;
      line-height: 1.5;
    }

    .leftcolumn {
      float: left;
      width: 70%;
      }

    .rightcolumn {
      float: left;
      width: 25%;
      padding-left: 20px;
      }

      img {
        border-radius: 20px;
      }

    .card {
        background-color: #f1f1f1;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 15px;
        margin-left: 10px;
      }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .white {
      color: white; text-decoration: none;
    }

    .black {
      color: black; text-decoration: none;
    }

    .button-like1,
    .button-like2,
    .button-like3 {
      border: 2px solid #8a8a8a;
      background-color: transparent;
      text-decoration: none;
      padding: 0.5rem;
      position: relative;
      vertical-align: middle;
      text-align: center;
      display: inline-block;
      border-radius: 3rem;
      color: #8a8a8a;
      transition: all 0.4s ease;
      /* get rid of blue outline when you click the like button */
      outline: none;
    }

    .button-like1 span,
    .button-like2 span,
    .button-like3 span{
      margin-left: 0.5rem;
    }

    .button-like1 .fa, 
    .button-like1 span,
    .button-like2 .fa, 
    .button-like2 span,
    .button-like3 .fa, 
    .button-like3 span{
      transition: all 0.4s ease;
    }


    .button-like1:hover,
    .button-like2:hover,
    .button-like3:hover{
      border-color: #cc4b37;
    }

    .button-like1:hover .fa, 
    .button-like1:hover span,
    .button-like2:hover .fa, 
    .button-like2:hover span,
    .button-like3:hover .fa, 
    .button-like3:hover span{
      color: #cc4b37;      
    }

    .liked {
      background-color: #cc4b37;
      border-color: #cc4b37;
    }

    .liked .fa, 
    .liked span{
      color: #fefefe;
    }

    .liked:hover {
      background-color: #cc4b37;
      border-color: #cc4b37;
    }

    .liked:hover .fa, 
    .liked:hover span{
      color: #fefefe;
    }

    .navbar a:hover {
      text-decoration: underline;
    }

    .rightnavbar a:hover {
      text-decoration: underline;
    }

    footer{
      background-color: rgba(0,0,0,0.7);
      padding: 10px;
      text-align: center;
      color: white;
      clear: both;
    }

    @charset "UTF-8";



    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
      }
      li {
        display: block;
        padding: 5px;
      }
      body {
        background: white;
      }
      .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
      }
    }